.card-container {
  margin-top: 15px;
}

.card-block {
  padding-left: 14px;
  padding-top: 12px;
}

.card-text {
  color: #b9b9b9;
}

.img-profail-container {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.img-profail-container>img {
  height: 100%;
}

.btn-edit {
  margin-top: 20px;
  margin-bottom: 10px;
}
