.event-form {
  margin: auto;
  margin-top: 25px;
  border-radius: 3px;
  padding-bottom: 15px;
}

.event-form h1 {
  text-align:center;
  color: white;
  margin:0 0 10px;
  margin-top: 15px;
}

#form-importance, #form-description {
  margin-top: -8px;
}

.date-picker {
  margin-top: -15px;
  color: white !important;
  width: 190px !important;
  overflow: hidden;
}
