.notification-tab {
  padding: 20px;
}

.notification-input {
  width: 100%;
  max-width: 300px;
  float: left;
  margin-right: 10px;
}

.notification-button{
  margin-left: 10px;
  float: left;
}

.gender-container {
  padding-top: 8px;
  float: left;
  display: inline-block;
}
