body {
  background: #ece7e7;
}

.row {
  width: 100% !important;
  margin: 0 !important;
}

.small-img {
  display: block;
  width: 25%;
}

.modal .fade {
  padding: 0px !important;
}

.socket-push-container {
  position: absolute;
  padding-top: 20px !important;
}

.myPush {
  z-index: 20;
}
